$black: #121212;
$white: #FFFFFF;

// Primary colors
$green: #589F8C;
$greenLight: #F2FCF9;
$blue: #958AF8;
$blueLight: #F0F2FF;
$red: #E86E61;
$redLight: #FFF2F0;
$lime:#06E594;
$grey: #C3C3C7;
$purple:#958AF8;
