.delete-acc{
    width: 814px;
    height: auto;
    background: #FFFFFF;
    box-shadow: -24px 0px 80px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 45%;
    padding: 96px 150px 98px 150px;
    text-align: center;

    @media (max-width: 600px) {
        width: 100%;
        padding: 30px 15px 30px 15px;

        }
        @media (min-width:600px) and (max-width: 980px) {
            width: 100%;
            padding: 30px;
        }

    h2{
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #121212;
        margin-bottom: 39px;
    }
    p{
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #AFAFC0;
        margin-bottom: 52px;
    }
    .keep-acc{
        padding: 14px 53px;
        background: #958AF8;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        border-radius: 4px;
        border: none;
        margin-right: 15px;
        @media (max-width: 600px) {
            margin-right: 0px;
            margin-bottom: 15px;
            }
    }
    button{
        padding: 14px 53px;
        background: white;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #E86E61;
        border-radius: 4px;
        border: 1px solid #E4E4E7;
    }
}

.verification{
    ::ng-deep .form-sign-up {
        padding: 20px !important;
        box-shadow: -24px 0px 80px rgba(0, 0, 0, 0.15) !important;
        border-radius: 8px !important;
    }

    ::ng-deep input {
        background: #F3F3F8 !important;
        color:  #27292A !important;

        &:focus {
            @extend input;
            border: 2px solid #958AF8 !important;
        }
    }

    ::ng-deep .sms-verification {
        background-color: white !important;
        h3, h4, p, label {
            color: #27292A !important;
        }
    }

    ::ng-deep .resent-code {
        .button-with-icon {
            color: #27292A !important;
        }
    }

    ::ng-deep .btn-with-icon, ::ng-deep .btn-right {
        background: #BBB !important;
        color: white !important;
    }

    ::ng-deep .btn-submit-activated, .btn-submit-activated:hover{
        background: #958AF8 !important;
    }

    ::ng-deep .border-secondary{
        border-color: #BBB !important;
    }
}
