.analytics-date {
    border-bottom: 1px solid #E4E4E7;
    margin-bottom: 53px;

    .date-button-disabled{
        color: #888888;
        pointer-events: none;
    }

    p {
        .previous {
            background-color: #FFFFFF;
            border: 1px solid #E4E4E7;
            border-radius: 4px;
            width: 32px;
            height: 32px;
            margin-right: 12px;
        }

        text-align: center;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #121212;
        padding-bottom: 14px;

        .next {
            background-color: #FFFFFF;
            border: 1px solid #E4E4E7;
            border-radius: 4px;
            width: 32px;
            height: 32px;
            margin-left: 12px;
        }
    }
}
