<form *ngIf="PasswordChangeForm && !verification" class="form-forget-password" [formGroup]="PasswordChangeForm"
    autocomplete="off">
    <div>
        <div class="title-layout">
    <h3 class="font-24px font-weight-bold">Reset Password</h3>
    <p class="white-50 font-18px mb-4">Enter your email address so we can identify
        your account</p>
    </div>

    <div class="mb-2 d-flex flex-column">

    <div class="form-group">
        <label for="email" class="font-12px white-50 font-weight-600">Email</label>
        <div class="input-wrapper"
            [ngClass]="{'has-error': validation.displayMessage['email'], 'show-success': PasswordChangeForm.controls['email'].valid}">
            <input id="email" formControlName="email" type="email" class="form-control line-height-20"
                placeholder="Enter your email" autocomplete="new-password">
            <span>{{ validation.displayMessage['email'] }}</span>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="font-12px white-50 font-weight-600">New password</label>
        <div class="input-group input-wrapper password-wrapper"
            [ngClass]="{'has-error': validation.displayMessage['password']}">
            <input id="password" formControlName="password" class="form-control line-height-20"
                [type]="passwordTextType ? 'text' : 'password'" placeholder="Enter your new password">

            <span>{{ validation.displayMessage['password'] }}</span>
            <button class="input-group-text password-wrapper-button">
                <i [ngClass]="{
                                'ri-eye-close-line': !passwordTextType,
                                'ri-eye-line': passwordTextType
                            }" (click)="toggleFieldTextType()"></i>
            </button>
        </div>

        <div class="mt-4 text-light">
            <i class="ri-checkbox-circle-fill icon-18px"
                [ngClass]="PasswordChangeForm.controls['password'].hasError('required') || PasswordChangeForm.controls['password'].hasError('minlength')  ? 'text-secondary' : 'text-success'"></i>
            <span class="font-12px"> Minimum 8 characters </span>
        </div>
        <div class="mt-2 text-light">
            <i class="ri-checkbox-circle-fill icon-18px"
                [ngClass]="PasswordChangeForm.controls['password'].hasError('required') || PasswordChangeForm.controls['password'].hasError('hasSmallCase')
                    || PasswordChangeForm.controls['password'].hasError('hasCapitalCase') || PasswordChangeForm.controls['password'].hasError('hasNumber') ? 'text-secondary' : 'text-success'"></i>
            <span class="font-12px"> At least 1 uppercase, 1 lowercase, 1 number </span>
        </div>
    </div>

    <a routerLink="/authenticate/login">
        <p class="font-14px font-weight-600 text-white">Back to login</p>
    </a>

    <div class="border-bottom border-secondary mb-32px"></div>

    <button type="submit" class="btn-submit" (click)="generateToken()"
        [ngClass]="!PasswordChangeForm.valid  ? 'btn-submit' : 'btn-submit-activated'">Set New Password</button>
    </div>
    </div>
</form>

<app-confirm-token *ngIf="verification" [phoneNumber]="phoneNumber" (verify)="changePassword($event)"
    (resend)="generateToken()" (back)="hideVerification()"></app-confirm-token>
