<section class="pop-up-car-fiance">
    <div class="row top-navigation">
        <div class="col-md-6">
            <img src="../../../../images/Vault/investment.svg" alt="investment logo">
            <h2>BMW 3 Series</h2>
        </div>
        <div class="col-md-6">
            <button ><i class="ri-edit-line"></i>Edit</button>
            <button ><i class="ri-delete-bin-line"></i>Remove</button>
            <button class="exit"><i class="ri-close-line"></i></button>
        </div>
    </div>
    <div class="total-value">
        <h2>TOTAL VALUE<strong>£9,868.59</strong></h2>
    </div>
    <div class="information">
        <table>
            <tr>
              <th>Category</th>
              <th>Ticker Code</th>
              <th>Quantity</th>
              <th>Unit Price</th>
            </tr>
            <tr>
              <td>22</td>
              <td>AB61 DEF</td>
              <td>AB61 DEF</td>
              <td>AB61 DEF</td>
            </tr>
          </table>
    </div>
</section>
