@import "../../../styles/abstracts/variables";

.edit-profile {
    width: 814px;
    background: #ffffff;
    box-shadow: -24px 0px 80px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 78px 48px 107px 52px;
    margin-top: 50px;
    @media (max-width: 600px) {
        width: 100%;
        padding: 30px 15px 30px 15px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 100%;
    }
    .input-wrapper {
        &:before {
            top: 13px !important;
        }
    }
    h2 {
        text-align: center;
        color: #121212;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 85px;
    }
    form {
        label {
            display: block;
            margin-bottom: 8px;
            color: #afafc0;
            font-family: Poppins, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
        }
        input {
            width: 100%;
            padding: 15px;
            border-radius: 6px;
            border: 1px solid #e4e4e7;
            height: 48px;
        }
    }
    p {
        color: #121212;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        margin-left: 25px;
        line-height: 18px;
        position: relative;
        .ri-checkbox-circle-fill:before {
            content: "\eb5d";
            color: #42a732;
            font-size: 18px;
            position: absolute;
            top: 3px;
            left: -25px;
        }
    }

    .cancel-button {
        border: 1px solid #e4e4e7;
        border-radius: 4px;
        background: #ffffff;
        border: 1px solid #e4e4e7;
        border-radius: 4px;
        color: #e86e61;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding: 15px;
        margin-right: 24px;
        width: 26%;
        @media (max-width: 600px) {
            padding: 15px 5px;
            margin-right: 6px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            margin-right: 10px;
        }
    }
    .save-button {
        background: $grey;
        border-radius: 4px;
        color: #ffffff;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        border: none;
        padding: 15px;
        width: 70%;
    }

    .save-button-activated {
        background: #958af8 !important;
    }
}

// This should be moved to component scss file or general style-sheet
.verification {
    ::ng-deep .form-sign-up {
        padding: 20px !important;
        box-shadow: -24px 0px 80px rgba(0, 0, 0, 0.15) !important;
        border-radius: 8px !important;
    }

    ::ng-deep input {
        background: #f3f3f8 !important;
        color: #27292a !important;

        &:focus {
            @extend input;
            border: 2px solid #958af8 !important;
        }
    }

    ::ng-deep .sms-verification {
        background-color: white !important;
        h3,
        h4,
        p,
        label {
            color: #27292a !important;
        }
    }

    ::ng-deep .resent-code {
        .button-with-icon {
            color: #27292a !important;
        }
    }

    ::ng-deep .btn-with-icon,
    ::ng-deep .btn-right {
        background: #bbb !important;
        color: white !important;
    }

    ::ng-deep .btn-submit-activated,
    .btn-submit-activated:hover {
        background: #958af8 !important;
    }

    ::ng-deep .border-secondary {
        border-color: #bbb !important;
    }
}
