<section class="change-password" *ngIf="!verification">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" autocomplete="off">

        <div class="form-group">
            <label for="currentPassword">Your Current Password</label>
            <div class="input-wrapper"
                [ngClass]="{'has-error': validation.displayMessage['currentPassword'], 'show-success': changePasswordForm.controls['currentPassword'].valid}">
                <input id="currentPassword" formControlName="currentPassword" type="password" autocomplete="off">
                <span>{{ validation.displayMessage['currentPassword'] }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Enter New Password</label>
            <div class="input-wrapper"
                [ngClass]="{'has-error': validation.displayMessage['password'], 'show-success': changePasswordForm.controls['password'].valid}">
                <input id="password" formControlName="password" type="password" autocomplete="off">
                <span>{{ validation.displayMessage['password'] }}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Re-type New Password</label>
            <div class="input-wrapper"
                [ngClass]="{'has-error': validation.displayMessage['confirmPassword'], 'show-success': changePasswordForm.controls['confirmPassword'].valid}">
                <input id="confirmPassword" formControlName="confirmPassword" type="password" autocomplete="off">
                <span>{{ validation.displayMessage['confirmPassword'] }}</span>
            </div>
        </div>
    </form>

    <p>
        <i class="ri-checkbox-circle-fill"
            [ngClass]="changePasswordForm.controls['password'].hasError('required') || 
                       changePasswordForm.controls['password'].hasError('minlength')  ? 'text-secondary' : 'text-success'"></i>
        Minimum 8 characters
    </p>

    <p>
        <i class="ri-checkbox-circle-fill"
            [ngClass]="changePasswordForm.controls['password'].hasError('required') || 
                       changePasswordForm.controls['password'].hasError('hasSmallCase') || 
                       changePasswordForm.controls['password'].hasError('hasCapitalCase') || 
                       changePasswordForm.controls['password'].hasError('hasNumber') ? 'text-secondary' : 'text-success'"></i>
        At least 1 uppercase, 1 lowercase, 1 number
    </p>

    <button class="cancel-button" (click)="closeModal()">Cancel</button>
    <button class="save-button" (click)="submit()"
        [ngClass]="!changePasswordForm.valid  ? 'save-button' : 'save-button-activated'">Save</button>
</section>

<div *ngIf="verification" class="verification">
    <app-confirm-token [phoneNumber]="phoneNumber" (verify)="changePassword($event)" (resend)="submit()"
        (back)="hideVerification()"></app-confirm-token>
</div>