<section class="pop-up-window-add-property">
    <button class="exit"><span class="ri-close-line" (click)="closeModal()"></span></button>
    <h2>Edit Vehicle</h2>
    <div class="links">
        <div class="add-new-form">
            <form [formGroup]="formEditVehicle">

                <div class="form-group">
                    <label for="vehicleName" class="font-12px white-50 font-weight-600">Vehicle Name</label>
                    <div class="input-wrapper"
                        [ngClass]="{'has-error': validation.displayMessage['vehicleName'], 'show-success': formEditVehicle.controls['vehicleName'].valid}">
                        <input id="vehicleName" formControlName="vehicleName" class="form-control line-height-20"
                            type="text">
                        <span>{{ validation.displayMessage['vehicleName'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="registration" class="font-12px white-50 font-weight-600">Registration</label>
                    <div class="input-wrapper"
                        [ngClass]="{'has-error': validation.displayMessage['registration'], 'show-success': formEditVehicle.controls['registration'].valid}">
                        <input id="registration" formControlName="registration" class="form-control line-height-20"
                            type="text">
                        <span>{{ validation.displayMessage['registration'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mileage" class="font-12px white-50 font-weight-600">Mileage</label>
                    <div class="input-wrapper value-vehicle-wrapper no-icon"
                        [ngClass]="{'has-error': validation.displayMessage['mileage']}">
                        <input formControlName="mileage" class="form-control line-height-20" name="mileage" id="mileage"
                            type="number">
                        <button class="input-group-text value-vehicle-wrapper-button" (click)="valueMyVehicle()"
                            [disabled]="vehicleValueProcessing">
                            <p class="font-14px" *ngIf="!vehicleValueProcessing">Value My Vehicle</p>
                            <p class="loading-spinner-circle" *ngIf="vehicleValueProcessing"></p>
                        </button>
                        <span>{{ validation.displayMessage['mileage'] }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vehicleValue" class="font-12px white-50 font-weight-600">Vehicle Value</label>
                    <div class="input-wrapper"
                        [ngClass]="{'has-error': validation.displayMessage['vehicleValue'], 'show-success': formEditVehicle.controls['vehicleValue'].valid}">
                        <input id="vehicleValue" formControlName="vehicleValue" class="form-control line-height-20"
                            type="number">
                        <span>{{ validation.displayMessage['vehicleValue'] }}</span>
                    </div>
                </div>
                <p *ngIf="vehicleValueReturned">Vehicles are valued based on a private sale value. This is generally
                    higher than trade value, but lower than retail value.</p>

                <div class="form-group">
                    <mat-checkbox formControlName="automaticallyReValueVehicle"
                    (change)="automaticallyReValueVehicle = !automaticallyReValueVehicle">
                    Automatically re-value my vehicle every month</mat-checkbox>
                </div>

                <div *ngIf="hasFinanceAgreement">
                    <div class="form-group">
                        <label for="financeAgreementName">Finance Agreement Name</label>
                        <div class="input-wrapper">
                            <input id="financeAgreementName" formControlName="financeAgreementName" type="text"
                                autocomplete="off">
                            <span>{{ validation.displayMessage['financeAgreementName'] }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newFinanceBalance">Finance Balance</label>
                        <div class="input-wrapper">
                            <input id="newFinanceBalance" formControlName="newFinanceBalance" type="number"
                                autocomplete="off">
                            <span>{{ validation.displayMessage['newFinanceBalance'] }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reference">Reference</label>
                        <div class="input-wrapper">
                            <input id="reference" formControlName="reference" autocomplete="off">
                            <span>{{ validation.displayMessage['reference'] }}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <div class="input-wrapper">
                            <textarea class="notes-input" id="notes" formControlName="notes" type="text"
                                autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <app-vault-upload-picture (sendPhoto)="getPhoto($event)" [itemPhoto]="itemPhoto" [editMode]="true"></app-vault-upload-picture>
                </div>

                <button (click)="backToVehicleDetails()" class="back-button">Back</button>
                <button class="next-button step-two-next-button" (click)="updateVehicle()">Save</button>
            </form>
        </div>
    </div>
</section>
