<footer class="footer bg-white border-top mt-auto py-3">
    <div class="d-flex container justify-content-between">
        <div class="d-flex justify-content-center flex-column">OMIKRON © {{year}}</div>
        <div class="align-self-center"><a class="btn btn-link action-link primary" href="#" target="_blank">Privacy Policy</a><span
                class="margin-left-5 margin-right-5"> - </span><a class="btn btn-link action-link primary" href="#" target="_blank">Terms
                and Conditions</a><span class="margin-left-5 margin-right-5"> - </span><a class="btn btn-link action-link primary" href="#"
                target="_blank">Help</a></div>
    </div>
</footer>
