@import "../../../../styles/abstracts/media";

.closed-navigation {
    .navigation {
        img {
            width: 40px !important;
            height: 35px !important;
            margin: 0px 0px 35px 8px !important;
            display: block !important;

            @include media-xs {
                margin-bottom: 0px !important;
                display: inline !important;
                max-width: 50px !important;
            }

            @include media-sm {
                margin-bottom: 0px !important;
                display: inline !important;
                max-width: 50px !important;
            }

            @include media-md{
                margin-bottom: 0px !important;
                display: inline !important;
                max-width: 50px !important;
            }
        }

        .menu {
            @include media-xs {
                display: none !important;
            }

            @include media-sm {
                display: none !important;
            }

            @include media-md {
                display: none !important;
            }

            .ri-home-line:before,
            .ri-settings-3-line:before,
            .ri-chat-1-line:before,
            .ri-wallet-line:before,
            .ri-bar-chart-box-line:before,
            .ri-user-received-fill:before {
                top: 0 !important;
                position: inherit !important;
            }

            a {
                &.active {
                    padding: 12% 0px 0px 6% !important;
                    height: 44px;
                    width: 44px;
                }

                p {
                    display: none !important;
                }
            }
        }

        .close-navigation-button {
            top: 0 !important;
            right: 0 !important;
            position: inherit !important;

            @include media-xs {
                float: right !important;
                padding: 0px !important;
            }

            @include media-sm {
                float: right !important;
                padding: 0px !important;
            }

            @include media-md{
                float: right !important;
                padding: 0px !important;
            }
        }

        .bottom-upgrade {
            display: none !important;
        }
    }
}

.navigation {
    padding: 32px 16px 54px 16px;

    .close-navigation-button {
        background: transparent;
        border: none;
        padding: 10px;
        position: absolute;
        top: 25px;
        right: 9px;
    }

    .menu {
        margin-top: 40px;
        ul{
            list-style-type: none;
            padding: 0;
        }

        a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #FFFFFF;
            text-decoration: none;
            display: block;
            margin-bottom: 45px;
            position: relative;

            &.active {
                background: linear-gradient(89.41deg, #8783F9 0%, #A2DCFF 100%) !important;
                border-radius: 16px;
                padding: 10px;
                position: relative;

                @include media-xs {
                    width: 100%;
                }

                .ri-home-line:before,
                .ri-settings-3-line:before,
                .ri-chat-1-line:before,
                .ri-wallet-line:before,
                .ri-bar-chart-box-line:before,
                .ri-user-received-fill:before {
                    color: white;
                    top: 7px;

                    @include media-xs {
                        top: 8px;
                    }
                }
            }

            p {
                display: inline;
                margin-left: 50px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .ri-home-line:before,
        .ri-bar-chart-box-line:before,
        .ri-user-received-2-line:before,
        .ri-settings-3-line:before,
        .ri-chat-1-line:before,
        .ri-wallet-line:before {
            color: rgba(255, 255, 255, 0.5);
            position: absolute;
            font-size: 18px;
            padding-left: 8px;
        }
    }

    .bottom-upgrade {
        display:none;
        background: #958AF8;
        border-radius: 4px;
        position: fixed;
        bottom: 20px;
        max-width: 200px;
        font-size: 14px;
        padding: 25px 15px 25px 15px;

        @include media-xs {
            display: none;
        }

        @include media-sm {
            display: none;
        }

        @include media-md {
            display: none;
        }

        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
        }

        button {
            background: #68C8FF;
            border-radius: 4px;
            float: none;
            padding: 10px 35px 10px 35px;
            color: white;
            margin-top: 60px;
            border: none;
        }

        strong {
            color: #A2DDFF;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
        }
    }
}

.ri-menu-fold-line:before {
    font-size: 24px;
}

.dashboard-omikron-logo {
    position: relative;
    width: 118px;
    height: 42px;
}
