  @import "../../../styles/abstracts/media";

  ::ng-deep .center-div {
      left: 37% !important;

      h3 {
          color: black !important;
      }

      p {
          color: rgb(100, 100, 100) !important;
      }

      .add-account-text {
          color: black !important;
      }

      @include media-xs {
          left: 2.5% !important;
      }

      @include media-sm {
          left: 25% !important;
      }

      @include media-md {
          left: 25% !important;
      }
  }
